body{
	background-color: #f2a2f2
}
.navbar-brand h1{ 
  margin: 0 0 0;
  color: #c42341;
  font-size: 1.5em;
}
h2{
  color: #5483c4;
}
#nav-list{
	background-color: #32a89d;
	text-align: center;
}
.selection{
	color: #ffffff;
	font-style: bold;
	font-size: 1.8em;
}
#collapsable-nav{
	margin: 0;
}
#thePage{
	scroll-behavior: auto;
	padding: 0;
	margin: 0;
}
.chickenMenu{
	margin: 10px 10px 10px 10px;
	padding: 10px 10px 10px 10px;
	background-color: #bdbd28;	
	height: 1000px;
}